* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
a:link {
  text-decoration: none;
}

body,
.splash,
.regBtns {
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
}

.splash,
.login {
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}

.splash h1 {
  color: #434b54;
  font-family: proxima nova bold;
  font-style: italic;
}

.buttons,
.forgot {
  color: #828486;
  padding: 2%;
}

.back,
.nav,
.loginBtn {
  color: #ffff;
}

.buttons:hover,
.nav {
  background-color: #3778c2;
}

.nav {
  padding: 3%;
  justify-content: space-between;
  align-items: center;
}

.loginBtn {
  border: none;
  background: none;
}

.textField,
.stuff {
  border-left: none;
  border-right: none;
}

